<%- include('./default/header', { title: 'AKB Ranking' }) %>
    <main>
        <link rel="stylesheet" href="/css/main.css">
        <h1>메인</h1>
        <script src="/js/main.js"></script>
    </main>
<%- include('./default/footer') %>
