<%- include('./default/header', { title: 'AKB Ranking' }) %>
    <main>
        <link rel="stylesheet" href="/css/main.css">
        <div class="image-container">
            <img src="/images/akb.jpeg">
        </div>
        <script src="/js/main.js"></script>
    </main>
<%- include('./default/footer') %>
