footer {
    background-color: green; /* 헤더와 푸터 배경색 */
    height: 60px; /* 헤더와 푸터의 높이를 동일하게 설정 */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}