* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    position: relative; 
}

.map-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 200px;

}

.radio-container {
    position: absolute;
    right: 0; 
    display: flex;
    flex-direction: row; 
    gap: 10px; 
}

#hidden-select {
    display: none; 
}

#select {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: white;
    text-align: center;
    color: black;
}

#select:focus {
    outline: none;
}

.map-select-list {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #ccc;
    background: white;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
    box-sizing: border-box;
}

.map-select-list .option {
    padding: 10px;
    background: white;
    color: black;
    border: none;
    cursor: pointer;
}

.map-select-list .option:hover {
    background: #ddd;
}